{% for row in informations %}
{% set id = random() %}
{% set row = row|merge({'taxons': row.taxons|json_decode(true)})  %}
<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#panel_{{ id }}" aria-expanded="true" aria-controls="panel_{{ id }}">Sélection n° {{ row.id_unique }}</div>
	<div class="panel-body collapse in" id="panel_{{ id }}">
		<div class="row">
			<div class="col-md-2"><strong>Commune(s)</strong> : </div>
			<div class="col-md-10">{% for commune in row.communes|json_decode %}<div>{{ commune }}</div>{% endfor %}</div>
		</div>
		<div class="row">
			<div class="col-md-2"><strong>Relevé(s)</strong> : </div>
			<div class="col-md-10">{% for releve in row.releves|json_decode %}<div>{{ releve }}</div>{% endfor %}</div>
		</div>
		{% if (row.taxons|length > 1) %}
			<div><strong>Taxons</strong> : {{ row.taxons|length }} espèces</div>
		{% else %}
			<div><strong>Taxon</strong> : {{ row.taxons|length }} espèce</div>
		{% endif %}

		<div class="checkbox" style="margin-left: 20px;">
			<label>
				<input type="checkbox" class="display-statuts" data-target="#table_{{ id }}"> Afficher/masquer les statuts associés
			</label>
		</div>

		<div class="table-responsive table-taxons">
			<table class="dynatable table table-striped table-hover table-condensed" id="table_{{ id }}">
				<thead>
					<tr>
						<th>Nom valide</th>
						<th style="display:none;">Statuts</th>
					</tr>
				</thead>
				<tbody>
			{% for taxon, statuts in row.taxons %}
					<tr>
						<td>{{ taxon }}</td>
						<td style="display:none;">
                            {% for statut in statuts %}
                                <div><span class="glyphicon glyphicon-ok"></span> {{statut}}</div>
                            {% else %}
                                <span> - </span>
                            {% endfor %}
                        </td>
					</tr>
			{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endfor %}