{# Visu/AccueilBundle/Resources/views/accueil.html.twig #}
{% extends "VisuConsultationBundle:Carto:template_full.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
            '@VisuConsultationBundle/Resources/public/lib/select2/select2.css'
            '@VisuConsultationBundle/Resources/public/lib/noUiSlider/nouislider.min.css'
            '@VisuConsultationBundle/Resources/public/lib/bootstrap3-typeahead/css/typeaheadjs.css'
            '@VisuConsultationBundle/Resources/public/lib/OpenLayers/ol.css'
            '@VisuConsultationBundle/Resources/public/lib/dynatable/jquery.dynatable.css'
            '@VisuConsultationBundle/Resources/public/carto/css/carto_boot.css'
            '@VisuConsultationBundle/Resources/public/carto/css/carto_fullscreen.css'
    %}   
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{% javascripts
	        '@VisuConsultationBundle/Resources/public/lib/select2/select2.js'
            '@VisuConsultationBundle/Resources/public/lib/OPNATypehead/OPNATypehead.js'
            '@VisuConsultationBundle/Resources/public/lib/bootstrap3-typeahead/js/typeahead.bundle.min.js'
            '@VisuConsultationBundle/Resources/public/lib/noUiSlider/nouislider.min.js'
            '@VisuConsultationBundle/Resources/public/lib/OpenLayers/ol.js'
            '@VisuConsultationBundle/Resources/public/lib/dynatable/jquery.dynatable.js'
            '@VisuConsultationBundle/Resources/public/lib/OFSAMap/OFSAMap.js'
            '@VisuConsultationBundle/Resources/public/carto/js/carto_inc.js'
	        '@VisuConsultationBundle/Resources/public/carto/js/cartographie.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block title %}
    GRETIA :: Visualisation
{% endblock %}


{% block chemin %}
    <a href="{{ path('ofsa_accueil_homepage') }}" title="accueil">Accueil</a> <span class="glyphicon glyphicon-leaf"></span> Consultation cartographique
{% endblock %}



{% block content %}
        {% embed "VisuConsultationBundle:Carto:templateCarto.html.twig" %}{% endembed %}
{% endblock %}


