{% extends "APICoreBundle::template.html.twig" %}

{% block header %}<div style="text-align: center;"><h1>Apps du Gretia</h1></div>{% endblock header %}

{% block content %}
		
			<div class="row">

				<!-- Visualisation -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/carte.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Visualisation</span>
		          <p>Outil de consultation cartographique des données du GRETIA.</p>
		        </div>
		        <div class="card-action">
		         	<a href="http://outils.gretia.org/carte/visualisation/" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		    <!-- Magic-Taxref -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/taxref.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Taxref</span>
		          <p>Outil de consultation et de comparaison des données Taxref.</p>
		        </div>
		        <div class="card-action">
		         	<a href="http://outils.gretia.org/magic-taxref/" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		    <!-- CA et JDD -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/app.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Metadonnées</span>
		          <p>Outil de consultation des études et des lots de données intégrées dans la BDD.</p>
		          <p>Outil de depot de jeux de données à intégrer.</p>
		        </div>
		        <div class="card-action">
		         	<a href="http://outils.gretia.org/metadonnees/" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		    <!-- Import -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/import.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Import</span>
		          <p>Outil de correction de fichier de données en vue d'être intégré en BDD.</p>
		        </div>
		        <div class="card-action">
		         	<a href="http://outils.gretia.org/import/import" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		    <!-- Geonature -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/app.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Saisie</span>
		          <p>Outil de saisie et de consultation des données du GRETIA.</p>
		        </div>
		        <div class="card-footer">
		         	<a href="http://outils.gretia.org/geonature/" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		    <!-- Biblio -->
		    <div class="col s4 m4">
		      <div class="card">
		        <div class="card-image">
		          <img src="{{ asset('/bundles/apicore/images/biblio.png') }}">
		        </div>
		        <div class="card-content">
		        	<span class="card-title grey-text text-darken-4">Bibliographie</span>
		          <p>Outil de saisie et de consultation des références bibliographiques du GRETIA.</p>
		        </div>
		        <div class="card-action">
		         	<a href="http://biblio.gretia.org/" target="_BLANK">Accéder</a>
		        </div>
		      </div>
		    </div>

		  </div>

{% endblock %}