{% if taxons is empty %}

	<p class="text-center" style="line-height: 100px; margin: 0;">Aucun taxon ne correspond à votre recherche</p>

{% else %}

<div class="row row-eq-height">

					
	<div id="liste-flore" class="listes col-md-12">
	
		<div class="title">
		</div>


		<ul>
		{% for code, taxon in taxons %}
			<li class="li-groupe">
				<ul>
					<li class="li-valide" data-cd="{{ code }}" data-ref="{{ code }}" data-name="{{ taxon['nom_valide']['nom_valide'] }}">
						<p class="nom_valide">{{ taxon['nom_valide']['nom_valide'] }}</p>
						<p class="nom_vern">{{ taxon['nom_valide']['nom_vern'] }}</p>
					</li>
				{% if taxon['synonymes']|length > 0 %}
					<li class="li-synonymes"><ul>
					{% for synonymes in taxon['synonymes'] %}
						<li class="li-synonyme" data-cd="{{ synonymes['cd_nom'] }}" data-ref="{{ code }}" data-name="{{ synonymes['nom_latin'] }} {{ synonymes['decouvreur'] }}">
							<p class="nom_scientifique"><i>{{ synonymes['nom_latin'] }}</i> {{ synonymes['decouvreur'] }}</p>
						</li>
					{% endfor %}
					</ul></li>
				{% endif %}
				</ul>
			</li>	
		{% endfor %}
		</ul>

	</div>
		
	
</div>
	
{% endif %}

